<% if @perdiste == true %>
  <script>
    if (window.confirm('El wumpus te encontró y decidió atacarte. Trataste de defenderte pero fue inútil. Fin del juego')) 
    {
      window.location.href='/';
    }
    else
    {
      window.location.href='/';
    }
  </script>
<% end %>
<table>
  <tr>
    <th>
      <textarea name="informacion" rows="40" cols="50" disabled><%= @mensaje %></textarea>
    </th>
    <th valign="top">
      <h2> Flechas: <%= @cantFlechas %> </h2>
      <form action="/action" method="post">
        <button name="accion" type="submit" value="disparar">Lanzar flecha</button>
      </form>
      <form action="/action" method="post">
        <button name="accion" type="submit" value="arriba">&#8593;</button>
        <button name="accion" type="submit" value="abajo">&#8595;</button>
        <button name="accion" type="submit" value="izquierda">&#8592;</button>
        <button name="accion" type="submit" value="derecha">&#8594;</button>
      </form>
    </th>
  </tr>
</table>
<form action="/action" method="post">
  <button name="accion" type="submit" value="salir">Salir</button>
</form>