<h1>Opciones</h1>

<form action="/start" method="post">
  <input type="radio" name="map" value="small" required> Mapa pequeño<br>
  <input type="radio" name="map" value="medium" required> Mapa mediano<br>
  <label>Movimientos del wumpus</label><br>
  <input type="radio" name="move" value="yes" required>Si<br>
  <input type="radio" name="move" value="no" required>No<br>
  <button type="submit">Iniciar Partida</button>
</form>